---
layout: home
author_profile: true
header:
overlay_image: /assets/images/header.jpg
overlay_filter: 0.5
caption: "Photo credit: [**Unsplash**](https://unsplash.com)"

intro:
- excerpt: "Bienvenido a mi portafolio profesional. Aquí encontrarás mis investigaciones en ciberseguridad, writeups de
CTFs y mis certificaciones."

feature_row_writeups:
- image_path: /assets/images/writeups-thumb.jpg
alt: "Writeups & CTFs"
title: "Writeups & CTFs"
excerpt: "Guías detalladas de máquinas de HackTheBox, TryHackMe y otros desafíos."
url: "/writeups/"
btn_label: "Ver Writeups"
btn_class: "btn--primary"

feature_row_certs:
- image_path: /assets/images/certs-thumb.jpg
alt: "Certificaciones"
title: "Certificaciones"
excerpt: "Mis logros profesionales y certificaciones en el campo de la seguridad informática."
url: "/certs/"
btn_label: "Ver Certificaciones"
btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row_writeups" %}

{% include feature_row id="feature_row_certs" %}